body {
	background-color: #eee;
	font-family: Corbel, Calibri, Arial;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

/* "Click me" is not a link, but it behaves like a link with this */
li#clickme {
	font-weight: bold;
}
li#clickme:hover {
	cursor:pointer;
	color: #bbb;
	font-weight: bold;
}

/* Click me drop form */
div#outer_dropform {
	display: inline-block;
	width: 100%;
	float: right;
}

div#dropForm {
	display: none;
	position: absolute;
	float: right;
	width: 450px;
	background-color: #fff;
	padding: 10px;
	border: solid;
	border-radius: 0px;
	border-width: 5px;
	border-color:#777;
}

form input[type=submit] {
	color: #fff;
	background-color: #7cb931;
	border-style: none;
	border-radius: 4px;
	padding: 10px 35px 10px 35px;
	cursor: pointer;
}
form input[type=submit]:hover {
	background-color: #83c830;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url] {
	font-family:Verdana, Helvetica, sans-serif, Arial;
	font-size:0.9em;
	font-weight: normal;
	font-style: normal;
	width: 80%;
	color: #222;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding:3px;
}

/* Other elements */

code {
	background-color: #ddd;
}

h1, h2, h3 {
	margin: 0;
}

/* Header title */

header h1 {
	background-color: #aaa;
	color: white;
	text-align: center;
	padding: 10px;
}

/* Header nav bar */
header nav {
	width: 100%;
	float: left;
}

nav.selected {
	font-weight: bold;
	padding: 0px;
}

nav#topnav {
	display: block;
}

nav ul {
	list-style-type: none;
	margin: 0px;
	padding-right: 15px;
	padding-left: 15px;
}

nav ul li {
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
}

aside#logos {
	width: 460px;
	height: 240px;
}

div.logo {
	display: inline-block;
}

aside#slogan {
	float: right;
	padding: 5px 20px 0px 10px;
	background-color: #bbb;
	width: 180px;
	height: 235px;
}

aside#slogan pre {
	font-size: 36pt;
	line-height: 16pt;
	text-align: center;
}

aside#slogan blockquote {
	font-size: 12pt;
	font-style: italic;
}

/* A few colors */
.white {
	background-color: #fff;
}

.ltgray {
	background-color: #ddd;
}

.gray, nav.gray ul li a {
	color: #fff;
	background-color: #444;
}

nav.gray ul li a:hover {
	color: #bbb;
}

div#container {
	background-color: white;
	width: 670px;
	margin-left: auto;
	margin-right: auto;
}

section#content {
	padding: 10px;
	margin: 10px;
	height: 258px;
}

aside.top {
	float: left;
}

aside.top img {
	display: block;
	margin: 10px;
	padding: 10px;
}

aside.padmarg {
	display: block;
	background-color: #aaffdd;
	border-radius: 20px;
	border-color: #88dd66;
	border-width: 3px;
	border-style: solid;
	float: right;
	margin: 15px 70px 15px 70px;
	padding: 15px 70px 15px 70px;
}

article {
	width: 460px;
	float: left;
	text-align: justify;
}

footer {
	clear: both;
	padding: 10px;
	background-color: #333;
	color: #fff;
	text-align: center;
}
